.text-hero {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0;
  text-align: left;
  color: #fff;
}

.text-sections {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0;
  text-align: left;
  color: #151617;
}

.text-prices {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: 0;
  text-align: center;
  color: #fff;
}

.text-login {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #fff;
}