.title-hero {
  font-family: Roboto;
  font-size: 72px;
  font-weight: 700;
  line-height: 96px;
  letter-spacing: 0;
  color: #fff;
}

.title-sections {
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0;
}

.title-prices {
  font-family: Roboto;
  font-size: 43px;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: 0;
  text-align: center;
  color: #fff;
}

.title-avatar {
  font-family: Inter;
  font-size: 36px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0;
}

.title-login {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0;
  text-align: center;
  color: #fff;
}

.title-login-head {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0;
  color: #301B52;
}

.title-home {
  font-family: Roboto;
  font-size: 43px;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: 0;
  text-align: center;
  color: #F06123;
}

.title-header {
  font-family: Roboto;
  font-size: 56px;
  font-weight: 700;
  line-height: 74px;
  letter-spacing: 0;
  text-align: left;
  color: #fff;
}

.title-login-mobile {
  font-family: Nunito;
  font-size: 36px;
  font-weight: 700;
  line-height: 49px;
  letter-spacing: 0;
  text-align: left;
  background: #2F80ED;
}